@using NamSitaKaurLMS.Core.Dtos
@model CourseDto

<div class="modal fade" id="createUserModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Yeni Kullanıcı Tanımlama</h5>
            </div>

            <form id="createCourseForm"
                  asp-area="Admin"
                  asp-controller="Dashboard"
                  asp-action="CreateCourse"
                  method="post"
                  enctype="multipart/form-data">

                <div class="modal-body">
                    add user popup modal body
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <button id="btnCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                </div>

            </form>
        </div>
    </div>
</div>

